# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/
npm-debug.log
yarn-error.log
venv/
# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
.next/

# Logs
logs/
*.log

api/__pycache__/
api/migrations/
